<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}} Score</title>

    <link rel="icon" type="image/png" href="../assets/icons/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="../assets/icons/favicon.svg" />
    <link rel="shortcut icon" href="../assets/icons/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="../assets/icons/apple-touch-icon.png" />

    <meta name="apple-mobile-web-app-title" content="{{title}} Score" />
    <script type="module" src="{{identifier}}.js"></script>
</head>
<body>
<h1>{{title}} Score</h1>

<button class="button button--big button--back absolute absolute--startish" id="menuBtn">
    <img class="button__icon button__icon--big img--dark-reverse" src="../assets/back-button.svg" alt="back to menu">
</button>

{{#if howToPlay}}
    <div class="button button--big button--back absolute absolute--secondish" data-how-to-play="{{howToPlay}}">
        <img class="button__icon button__icon--big img--dark-reverse" src="../assets/help-button.svg" alt="How to play?">
    </div>
    <div class="howToPlay__overlay">
        <div class="howToPlay__box">
            <div class="howToPlay__close-btn">X</div>
            <h2 class="howToPlay__title">How to Play</h2>
            <div class="howToPlay__intro"></div>
            <div class="howToPlay__rules"></div>
            <div class="howToPlay__conclusion"></div>
        </div>
    </div>
{{/if}}

<div id="loadPreviousScore" data-game="{{identifier}}" class="section" style="display: none">
    <h2>Continue where you left off?</h2>
    <div class="section section--row">
        <button class="button button--secondary" id="restoreScoreBtn">Restore Score</button>
        <button class="button button--primary" id="newScoreBtn">New Score</button>
    </div>
    {{{loadPreviousScoreAppend}}}
</div>
<div id="newScore" class="section table-container" style="display: none">
    {{{newScore}}}
</div>
{{{afterNewScore}}}
{{>Footer}}
</body>
</html>